:root {
    --gradient-first-color: #007F0C;
    --gradient-second-color: #004306;
    --gradient-back-color: #000000;
    --accent-color: #00CC14;
    --background-color: #000000;
    --like-button-color: #FF0000;
    --font-pixel: PressStart2P, fantasy;
    --font: Inter, sans-serif;
    --font-weight-article: 465;
    --font-weight-title: 785;
}
